body{
    display: flex;
    justify-content: center;
}

#user-choice {
    background-color: beige;
    width: 25%;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input {
    margin: 1vh;
}

#submit-choice{
    margin-bottom: 1vh;
}